*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General Section */
@font-face {
  font-family: 'Lato';
  src: url('../public/lato-font/Lato-Black.ttf') format('.ttf')
}

.hover {
  cursor: pointer;
}

.hover:hover {
  outline: 0px solid transparent;
  padding-bottom: 3px;
  border-bottom: 3px solid #CCABCD;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.item-indicator {
  height: 15px;
  width: 15px;
  border: 2px solid red;
  background-color: red;
  border-radius: 50%;
  margin-left: -11px;
  margin-top: -3px;
}

li, a {
  list-style: none;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  /* font-family: 'Lato'; */
  font-family: 'Alata', sans-serif;
}

/* Navbar Section */

.navbar--container {
  display: grid;
  margin-bottom: 6rem;
  grid-template-columns: 1fr 1fr;
  height: 14vh;
}

.navbar--left {
  display: grid;
  align-items: center;
  padding-left: 50px;
}

.navbar--right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.navbar--main_logo {
  height: 5rem;
}

.navbar--cart_outline {
  height: 2rem;
}

.navbar--cart_container {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  /* place-items: center; */
}

/* HomePage Section */

.homepage--container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  background-image: url('../public/background-image.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ShopNowButton Section */

.shop_now_button--container {
  display: grid;
  place-self: center;
}

.button--shop_now {
  all: unset;
  width: 300px;
  height: 40px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button--shop_now::after,
.button--shop_now::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button--shop_now::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button--shop_now::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button--shop_now:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button--shop_now:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button--shop_now:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/* ItemCategoryLink Section */

.item_category_link--container {
  display: grid;
}

.ul-item_category_link {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.links-categories {
  letter-spacing: 3px;
}

/* ProductCards Section */

.product_cards--container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}

.product_cards--card {
  height: 300px;
  width: 300px;
  display: grid;
  place-content: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;  border-radius: 5px;
}

.product_cards--image {
  place-self: center;
  height: 150px;
  width: 150px;
}

.product_cards--description {
  display: grid;
  gap: 12px;
  padding: 0.7rem;
  place-items: center;
  height: 100px;
  width: 300px;
}

.product_cards--title {
  display: grid;
  align-self: flex-start;
  text-align: center;
  font-size: 0.9rem;
}

.product_cards--price {
  align-self: center;
}

.cart_button {
  background-color: rgba(51, 51, 51, 0.05);
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: 'Alata';
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cart_button:hover {
  background-color: rgb(204, 171, 205);
}

/* ProductPage Section */

.product_page--container {
  display: grid;
  gap: 2rem;
  height: 100vh;
}

.product_page--image {
  display: grid;
  place-self: center;
  padding: 2rem;
  height: 500px;
  width: 500px;
}

.product_page--details {
  display: grid;
  gap: 1rem;
  place-items: center;
  padding: 2rem;
}

.product_page--title {
  font-size: 2.2rem;
  width: 90%;
}

.product_page--button {
  height: 3.2rem;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  font-size: 1.2rem;
}